# Web Scrapping Assignment-4

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\yash bhinge\anaconda3\lib\site-packages (4.8.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\yash bhinge\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\yash bhinge\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\yash bhinge\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\yash bhinge\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: sortedcontainers in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\yash bhinge\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\yash bhinge\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\yash bhinge\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import warnings
warnings.filterwarnings('ignore')

# Question 1. 
Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank B) Name C) Artist D) Upload date E) Views

In [4]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [5]:
#we can scrap down the whole table as well
table=[]
for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]')[0:1]:
    table.append(i.text.split('\n')[1:])
table

Rank=[]
for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')[0:30]:
    Rank.append(i.text)
Rank


Name=[]
for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')[0:30]:
    Name.append(i.text)
Name


Artist=[]
for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')[0:30]:
    Artist.append(i.text)
Artist


Views=[]
for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')[0:30]:
    Views.append(i.text)
Views


Upload_date=[]
for i in driver.find_elements(By.XPATH,'//td[@align="right"]')[0:30]:
    Upload_date.append(i.text)
Upload_date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017',
 'April 6, 2015',
 'March 6, 2014',
 'May 24, 2018',
 'November 19, 2014',
 'February 27, 2018',
 'July 15, 2012',
 'January 31, 2012',
 'April 5, 2018',
 'January 14, 2015',
 'June 16, 2009',
 'September 5, 2013',
 'May 31, 2013',
 'October 22, 2015',
 'October 7, 2014',
 'June 25, 2018',
 'June 4, 2010',
 'February 20, 2014',
 'December 3, 2015',
 'July 25, 2012',
 'November 9, 2017',
 'May 31, 2018',
 'June 14, 2018',
 'April 11, 2014',
 'March 22, 2015',
 'January 26, 2018']

In [6]:
df= pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Views':Views,'Upload_date':Upload_date})
df

,Rank,Name,Artist,Views,Upload_date
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.55,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.11,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.66,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,6.08,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,5.95,"January 30, 2017"
5,6.,"""See You Again""[18]",Wiz Khalifa,5.82,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.22,"March 6, 2014"
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,5.04,"May 24, 2018"
8,9.,"""Uptown Funk""[25]",Mark Ronson,4.87,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,4.86,"February 27, 2018"
10,11.,"""Gangnam Style""[27]",Psy,4.73,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.54,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.28,"April 5, 2018"
13,14.,"""Sugar""[34]",Maroon 5,3.84,"January 14, 2015"
14,15.,"""Axel F""[35]",Crazy Frog,3.82,"June 16, 2009"
15,16.,"""Roar""[36]",Katy Perry,3.76,"September 5, 2013"
16,17.,"""Counting Stars""[37]",OneRepublic,3.75,"May 31, 2013"
17,18.,"""Sorry""[38]",Justin Bieber,3.64,"October 22, 2015"
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,3.57,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,3.56,"June 25, 2018"
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,3.52,"June 4, 2010"
21,22.,"""Dark Horse""[42]",Katy Perry,3.48,"February 20, 2014"
22,23.,"""Faded""[43]",Alan Walker,3.42,"December 3, 2015"
23,24.,"""Let Her Go""[44]",Passenger,3.40,"July 25, 2012"
24,25.,"""Perfect""[45]",Ed Sheeran,3.40,"November 9, 2017"
25,26.,"""Girls Like You""[46]",Maroon 5,3.39,"May 31, 2018"
26,27.,"""Lakdi Ki Kathi""[47]",Jingle Toons,3.37,"June 14, 2018"
27,28.,"""Bailando""[48]",Enrique Iglesias,3.35,"April 11, 2014"
28,29.,"""Lean On""[49]",Major Lazer,3.35,"March 22, 2015"
29,30.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.34,"January 26, 2018"

In [7]:
driver.close()

# Question 2. 
Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details: A) Match title (I.e. 1st ODI) B) Series C) Place D) Date E) Time Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [8]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.bcci.tv/')

In [9]:
try:
    inter_tag=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
    inter_tag.click()
except NoSuchElementException as e:
    driver.get(inter_tag.get_attribute('href'))

In [10]:
fix_url=[]

link=driver.find_elements(By.XPATH,'//a[@class="match-btn match-card-btn ng-scope"]')
for i in link:
    fix_url.append(i.get_attribute('href'))

In [11]:
len(fix_url)

0

In [12]:
match   =  []
series  =  []
place   =  []
date    =  []
time    =  []

In [13]:
# Extracting match Via X path
try:
    mtch=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
    for i in mtch:
        match.append(i.text)
except NoSuchElementException as e:
    match.append("EXCEPTION RAISED")

    
 # Extracting match Series Via X path
try:
    ser=driver.find_elements(By.XPATH,'//div[@class="match-card-top"]/h5')
    for i in ser:
        series.append(i.text)
except NoSuchElementException as e:
    series.append("EXCEPTION RAISED")

    
# Extracting Place Name Via Xpath
try:
    plc=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope" ]/span[2]')
    for i in plc:
        place.append(i.text)
except NoSuchElementException as e:
    place.append("EXCEPTION RAISED")
 
    
# Extracting Date Via Xpath
try:
    dte=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for i in dte:
        date.append(i.text)
except NoSuchElementException as e:
    date.append("EXCEPTION RAISED")
    
    
# Extracting Time via Xpath
try:
    t=driver.find_elements(By.XPATH,'//div[@class="match-info"]/div[2]')
    for i in t:
        time.append(i.text)
except NoSuchElementException as e:
    time.append("EXCEPTION RAISED")

In [14]:
bcci_cricket=pd.DataFrame({'Match Title':match,'Tournament':series,'Venue':place,'Date':date,'Time':time})

print('\033[1m'+'Team India’s Upcoming International fixtures :'+'\033[0m')

bcci_cricket[:3]

Team India’s Upcoming International fixtures :

Empty DataFrame
Columns: [Match Title, Tournament, Venue, Date, Time]
Index: []

In [15]:
driver.close()

# Question 3 
Scrape the details of State-wise GDP of India from statistics time.com.
Url = http://statisticstimes.com/ You have to find following details:

A) Rank

B) State

C) GSDP(18-19)- at current prices

D) GSDP(19-20)- at current prices

E) Share(18-19)

F) GDP($ billion)

Note: - From statistics times home page you have to reach to economy page through code.

In [16]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get('http://statisticstimes.com/')

In [17]:
tag=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
tag.click()
india_tag=driver.find_element(By.XPATH,'//div[@class="dropdown-content"]/a[3]')
india_tag.click()

In [19]:
indi_state=driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]/a')
try:
    indi_state.click()
except NoSuchElementException as e:
    driver.get(indi_state.get_attribute('href'))

In [22]:
rnk         = []
state       = []
GSDP_18_19  = []
GSDP_19_20  = []
share       = []
GDP         = []

In [23]:
# Extracting Rank via Xpath
try:
    rank=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank:
        rnk.append(i.text)
except NoSuchElementException as e:
    rnk.append('_')
    
# Extracting State via Xpath--
try:
    ste=driver.find_elements(By.XPATH,'//table[@id="table_id" ]/tbody/tr/td[2]')
    for i in ste:
        state.append(i.text)
except NoSuchElementException as e:
    state.append('_')
    
    
# Extracting GSDP_18_19 via Xpath--
try:
    GSDP=driver.find_elements(By.XPATH,'//table[@id="table_id" ]/tbody/tr/td[4]')
    for i in GSDP:
        GSDP_18_19.append(i.text)
except NoSuchElementException as e:
    GSDP_18_19.append('_')
        
# Extracting GSDP_19_20 via Xpath--
try:
    GSD=driver.find_elements(By.XPATH,'//table[@id="table_id" ]/tbody/tr/td[3]')
    for i in GSD:
        GSDP_19_20.append(i.text)
except NoSuchElementException as e:
    GSDP_19_20.append('_')
    
# Extracting share via Xpath--
try:
    shr=driver.find_elements(By.XPATH,'//table[@id="table_id" ]/tbody/tr/td[5]')
    for i in shr:
        share.append(i.text)
except NoSuchElementException as e:
    share.append('_')
        
# Extracting GDP via Xpath--
try:
    G=driver.find_elements(By.XPATH,'//table[@id="table_id" ]/tbody/tr/td[6]')
    for i in G:
        GDP.append(i.text)
except NoSuchElementException as e:
    GDP.append('_')

In [24]:
StateGDP=pd.DataFrame({'Rank':rnk,'State':state,'GDSP 18-19':GSDP_18_19,'GDSP 19-20':GSDP_19_20,
                            'Share':share,'GDP (in Billions)':GDP})

print('\033[1m'+'State-wise GDP of India :'+'\033[0m')

StateGDP

State-wise GDP of India :

,Rank,State,GDSP 18-19,GDSP 19-20,Share,GDP (in Billions)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [25]:
driver.close()

# Question 4 
Scrape the details of trending repositories on Github.com.
Url = https://github.com/ . You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

1)Getting the webpage Url( https://github.com/ )

In [17]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://github.com/')

In [18]:
driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button').click()
driver.find_element(By.XPATH, '//html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a').click()

In [19]:
title=[]
des=[]
cont=[]
lang=[]
     
for i in driver.find_elements(By.XPATH, '//h1[@class="h3 lh-condensed"]'):
    title.append(i.text)

for i in driver.find_elements(By.XPATH, '//p[@class="col-9 color-fg-muted my-1 pr-4"]'):
    des.append(i.text)
        
for i in driver.find_elements(By.XPATH, '//span[@class="d-inline-block ml-0 mr-3"]'):
    lang.append(i.text)

In [21]:
title=[]
des=[]
cont=[]
lang=[]
     
for i in driver.find_elements(By.XPATH, '//h1[@class="h3 lh-condensed"]'):
    title.append(i.text)

for i in driver.find_elements(By.XPATH, '//p[@class="col-9 color-fg-muted my-1 pr-4"]'):
    des.append(i.text)
        
for i in driver.find_elements(By.XPATH, '//span[@class="d-inline-block ml-0 mr-3"]'):
    lang.append(i.text)
       
des.insert(0,'Not Available') # By this way we make this count to 25. 
lang.insert(3,'-') # Filling empty values by hifen.
lang.insert(15,'-') # Filling empty values by hifen.
lang.insert(22,'-')  # Filling empty values by hifen.

que5=pd.DataFrame({'Title':title,'Description':des,'Language Used':lang})
que5

ValueError: All arrays must be of the same length

In [43]:
rtitle

['RosettaCommons / RFdiffusion',
 'Synaptrix / ChatGPT-Desktop',
 'hahahumble / speechgpt',
 'ymcui / Chinese-LLaMA-Alpaca',
 'ZrrSkywalker / LLaMA-Adapter',
 'programthink / zhao',
 'Bin-Huang / chatbox',
 'helix-editor / helix',
 'yzfly / awesome-chatgpt-zh',
 'PrefectHQ / marvin',
 'yakGPT / yakGPT',
 'new-ai-company / ide',
 'nomic-ai / gpt4all',
 'hpcaitech / ColossalAI',
 'nomic-ai / nomic',
 'thinkingjimmy / Learning-Prompt',
 'binary-husky / chatgpt_academic',
 'mckaywrigley / chatbot-ui',
 'sqlchat / sqlchat',
 'twitter / twemoji',
 'johnlui / PPHC',
 'Yidadaa / ChatGPT-Next-Web',
 'Chanzhaoyu / chatgpt-web',
 'microsoft / visual-chatgpt',
 'lencx / nofwl']

In [45]:
# Extracting repository description,contributor count,language via Xpath--
for i in URL:
    driver.get(i)
    time.sleep(2)

    try:
        des=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[1]/div/p')
        rdescription.append(des.text)
    except NoSuchElementException as e:
        rdescription.append('_')

    try:
        count=driver.find_element(By.XPATH,"//a[contains(@href,'contributors')]/span")
        ccount.append(count.text)
    except NoSuchElementException as e:
        ccount.append('_')
    
    try:
        lng=driver.find_element(By.XPATH,"//a[contains(@href,'search?')]/span[1]")
        lang.append(lng.text)
    except NoSuchElementException as e:
        lang.append('_')

AttributeError: 'list' object has no attribute 'sleep'

In [36]:
rdescription

[]

In [37]:
Github=pd.DataFrame({'Title':rtitle,'Description':rdescription,'Contributors_count':ccount,'Language_used':lang})

print('\033[1m'+'GitHub Trending Repository :'+'\033[0m')

Github

ValueError: All arrays must be of the same length

# Q5. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/ .You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [14]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get("https://www.billboard.com/")

In [15]:
hot100=driver.find_element(By.XPATH, '//ul//li[1]//a[@class="c-link  lrv-a-unstyle-link lrv-u-color-brand-primary:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-dark"]')
hot100.click()

In [16]:
song=[]
for i in driver.find_elements(By.XPATH, '//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]'):
    song.append(i.text)
for i in driver.find_elements(By.XPATH, '//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]'):
    song.insert(0,i.text)
    
singer=[]
for i in driver.find_elements(By.XPATH, '//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]'):
    singer.append(i.text)
for i in driver.find_elements(By.XPATH, '//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]'):
    singer.insert(0,i.text)
    
lastweek=[]
for i in driver.find_elements(By.XPATH, '//li[4][@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]'):
    lastweek.append(i.text)
for i in driver.find_elements(By.XPATH, '//li[4][@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]'):
    lastweek.insert(0,i.text)
    
peak=[]
for i in driver.find_elements(By.XPATH, '//li[5][@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]//span'):
    peak.append(i.text)

weak=[]
for i in driver.find_elements(By.XPATH, '//li[6][@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]//span'):
    weak.append(i.text)

que6=pd.DataFrame({'Song Name':song,'Artist Name':singer,'Last week rank':lastweek,'Peak rank':peak,'Weeks on board':weak})
que6

Empty DataFrame
Columns: [Song Name, Artist Name, Last week rank, Peak rank, Weeks on board]
Index: []

# Question 6
Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey%02compare/ You have to find the following details: A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [22]:
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [23]:
book=[]
for i in driver.find_elements(By.XPATH, '//tbody//tr//td[2]'):
    book.append(i.text)
    
author=[]
for i in driver.find_elements(By.XPATH, '//tbody//tr//td[3]'):
    author.append(i.text)
    
volume=[]
for i in driver.find_elements(By.XPATH, '//tbody//tr//td[4]'):
    volume.append(i.text)
    
publisher=[]
for i in driver.find_elements(By.XPATH, '//tbody//tr//td[5]'):
    publisher.append(i.text)
    
genre=[]
for i in driver.find_elements(By.XPATH, '//tbody//tr//td[6]'):
    genre.append(i.text)
    
que8=pd.DataFrame({'Book Name':book,'Author Name':author,'Volume Sales':volume,'Publisher':publisher,'Genre':genre})
que8

,Book Name,Author Name,Volume Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question 7
Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [25]:
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [26]:
name=[]
for i in driver.find_elements(By.XPATH, '//h3//a'):
    name.append(i.text)

year=[]
for i in driver.find_elements(By.XPATH, '//h3//span[@class="lister-item-year text-muted unbold"]'):
    year.append(i.text)
    
genre=[]
for i in driver.find_elements(By.XPATH, '//p//span[@class="genre"]'):
    genre.append(i.text)
    
runtime=[]
for i in driver.find_elements(By.XPATH, '//p//span[@class="runtime"]'):
    runtime.append(i.text)
    
rating=[]
for i in driver.find_elements(By.XPATH, '//div[@class="ipl-rating-star small"]//span[@class="ipl-rating-star__rating"]'):
    rating.append(i.text)
    
vote=[]
for i in driver.find_elements(By.XPATH, '//span[@name="nv"]'):
    vote.append(i.text)
    
que9=pd.DataFrame({'Name':name,'Year Span':year,'Genre':genre,'Runtime':runtime,'Rating':rating,'Votes':vote})
que9

,Name,Year Span,Genre,Runtime,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,147,673"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,230,829"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,019,885"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"300,324"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"259,148"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,255"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,260"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"206,142"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"42,776"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"255,352"

# Question 8
Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year Note: - from the home page you have to go to the ShowAllDataset page through code

In [27]:
driver=webdriver.Chrome('chromedriver.exe')
url='https://archive.ics.uci.edu/'
driver.get(url)

In [28]:
all=driver.find_element(By.XPATH, '//span[@class="whitetext"]//b')
all.click()

In [30]:
name=[]
for i in driver.find_elements(By.XPATH, '//b//a'):
    name.append(i.text)
    
tyep=[]
for i in driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]'):
    tyep.append(i.text)
tyep.pop(0)

task=[]
for i in driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]'):
    task.append(i.text)
task.pop(0)

att_type=[]
for i in driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]'):
    att_type.append(i.text)
att_type.pop(0)

inst=[]
for i in driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]'):
    inst.append(i.text)
inst.pop(0)

att=[]
for i in driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]'):
    att.append(i.text)
att.pop(0)

year=[]
for i in driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]'):
    year.append(i.text)
year.pop(0)

que10=pd.DataFrame({'Name':name,'Data Type':tyep,'Default Task':task,'Attribute Type':att_type,'Instances':inst,'Attributes':att,'Year':year})
que10

,Name,Data Type,Default Task,Attribute Type,Instances,Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021